
body{
    background-image: url('/img/cover.jpg');
   

}
#quots{
    margin: 100px;
    
}

.quot{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 60px;

}

#quots h1{
    font-size: 80px;
    font-family: Impact;
    /* padding: 20px */
}

#quots .btn{
    background-color: #F9B9B7;
}